<% include ad_header %>

<div class="row">
    <div class="col-lg-12 col-md-12">
        <img src="images/access-denied.png" alt="" width="90%" height="90%"/>
    </div>
    
</div>
<%include ad_footer%>