<!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="../admin/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../admin/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="../admin/js/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<script src="../admin/js/raphael.min.js"></script>
<script src="../admin/js/morris.min.js"></script>
<!-- <script src="../admin/js/morris-data.js"></script> -->

<!-- Custom Theme JavaScript -->
<script src="../admin/js/startmin.js"></script>
<!-- DataTables JavaScript -->
<script src="../admin/datatables/js/jquery.dataTables.min.js"></script>
<script src="../admin/datatables-plugins/dataTables.bootstrap.min.js"></script>
<script src="../admin/datatables-responsive/dataTables.responsive.js"></script>
<script>
    $(document).ready(function () {
        //using responsive data table
        $('#dataTables-example').DataTable({
            "responsive": true,
            "aaSorting": [[0, "desc"]]
        });
        //using responsive data table for Order.
        $('#dataTablesOrder').DataTable({
            "responsive": true,
            "aaSorting": [[0, "desc"]]
        });
        //using responsive data table for popular customer.
        $('#dataTablesPopular').DataTable({
            "responsive": true,
        });
        //using responsive data table for popular customer.



        $('#dataTablesPost').DataTable({
            "responsive": true,
            // "aaSorting": [[ 0, "asc" ]],
        });
        $('#example1').datepicker({
            format: "yyyy-mm-dd"
        });
    });
</script>
</body>

</html>