<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Menwatches |
        <%=title%>
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="../admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../admin/css/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../admin/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../admin/css/startmin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../admin/css/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../admin/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="admin/home">Menwatches</a>
            </div>

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <ul class="nav navbar-nav navbar-left navbar-top-links">
                <li>
                    <a href="#">
                        <i class="fa fa-home fa-fw"></i>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-right navbar-top-links">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#">
                                <i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-gear fa-fw"></i> Change password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="admin/logout">
                                <i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <!-- <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                                </div>
                                 /input-group
                            </li> -->
                        <li>
                            <a href="/admin/home" class="active">
                                <img src="../admin/img/dashboard.png" alt="" /> Dashboard</a>
                        </li>
                        <!-- begin-brand -->
                        <%if(user.role === 'Admin'){%>
                            <li>
                                <a href="#">
                                    <img src="../admin/img/clock.png" alt=""> Brand
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/brand/add-new">Add new brand</a>
                                    </li>
                                    <li>
                                        <a href="admin/brand/view-all">View all brand</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end-brand -->
                            <!-- begin-style -->
                            <li>
                                <a href="#">
                                    <img src="admin/img/clock.png"> Style
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/style/add-new">Add new style</a>
                                    </li>
                                    <li>
                                        <a href="admin/style/view-all">View all style</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- end-style -->
                            <!-- begin-product -->
                            <li>
                                <a href="#">
                                    <img src="admin/img/clock.png"> Product
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/product/add-new">Add new product</a>
                                    </li>
                                    <li>
                                        <a href="admin/product/view-all">View all product</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <!-- end-product -->
                            <!-- begin-customer -->
                            <li>
                                <a href="#">
                                    <img src="admin/img/users.png"> Customer
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/customer/view-all">View all customer</a>
                                    </li>
                                    <li>
                                        <a href="admin/customer/popular">View popular customer</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <!-- end-customer -->
                            <!-- begin-order -->
                            <li>
                                <a href="#">
                                    <img src="admin/img/attachment.png" /> Order
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/order/view-all">View all order</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <!-- end-order -->
                            <!-- begin-contact -->
                            <li>
                                <a href="#">
                                    <img src="admin/img/contact.png"> Contact
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/contact/view-all">View all contact</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <!-- end-contact -->
                            <!-- begin-staff -->
                            <li>
                                <a href="#">
                                    <img src="admin/img/user.png"> Staff
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/staff/add-new">Add new staff</a>
                                    </li>
                                    <li>
                                        <a href="admin/staff/view-all">View all staff</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <!-- end-staff -->
<%}else{%>
                            <!-- begin-staff -->
                            <li>
                                <a href="#">
                                    <img src="admin/img/user.png"> Order
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="admin/staff/handling-order/view-all">View all order</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                            <!-- end-staff -->
<%}%>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <%=breadcrumb%>
                    </h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>