	<!--header-->
	<% include header%>
	<!--end of header-->

		<!--product-starts-->
	<div class="product">
		<div class="container">
			<p>this is about page </p>
		</div>
	</div>
	<!--product-end-->
	
	
	<!--footer-->
	<% include footer%>
	<!--end of footer-->
	