<!--header-->
<%include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">Checkout</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-ckeckout-->
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<h2>Check Out</h2>
				<h4>Your Total:
			<%if(!session.cart){%>
				0 $
				<%}else{%>
					<%=session.cart.totalPrice%> $
						<%}%>
				</h4>
			</div>
			
			<form action="/checkout" method="Post">
				<div class="register-main">
					<div class="col-md-6 account-left">
						<input placeholder="Email address" type="email" name="email" tabindex="1" required>
						<input placeholder="Password" type="password" name="password" tabindex="2" required>
						<input placeholder="Retype password" type="password" tabindex="3" required>
					</div>
					<div class="col-md-6 account-left">
						<input placeholder="First name" type="text" name="firstname" tabindex="4" required>
						<input placeholder="Last name" type="text" name="lastname" tabindex="5" required>
						<input placeholder="Address" type="text" name="address" tabindex="6" required>
						<input placeholder="Phone" type="text" name="phone" tabindex="7" required>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input tabindex="8" type="submit" value="Check Out">
				</div>
		</div>
	</div>


	</form>
	</div>
	</div>
	<!--end-ckeckout-->
	<!--footer-->
	<% include footer %>
		<!--end of footer-->