<!--header-->
<%include header%>
    <!--end of header-->
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="">
                        <a href="/profile">Profile</a>
                    </li>
                    <li class="">Information</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--account-starts-->
    <div class="account">
        <div class="container">
            <div class="account-top heading">
                <%if (message.length > 0 ){%>
                    <div class="alert alert-info">
                        <h4>
                            <%= message%>
                        </h4>
                    </div>
                    <%}%>
                        <h2>INFORMATION</h2>
            </div>
            <div class="account-main">
                <div class="col-md-6 account-left">
                    <h3>My infomation</h3>
                    <p>Email:
                        <%= user.email  %>
                    </p>
                    <p>First name:
                        <%= customer.fistname  %>
                    </p>
                    <p>Last name:
                        <%= customer.lastname  %>
                    </p>
                </div>
                <div class="col-md-6 account-right account-left">
                    <h3>Edit infomation</h3>
                    <div class="account-bottom">
                        <form action="/profile/information" method="POST">
                            <input placeholder="First name" type="text" name="firstname" id="firstname" tabindex="1" required>
                            <input placeholder="Last name" type="text" name="lastname" id="lastname" tabindex="2" required>
                            <div class="address">
                                <!-- <a class="forgot" href="#">Forgot Your Password?</a> -->
                                <input type="submit" value="Change">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--account-end-->
    <!--footer-->
    <%include footer%>
        <!--end of footer-->