<!--header-->
<% include header %>
    <!--end of header-->
    <!--product-starts-->
    <div class="product">
        <div class="container">
            <div class="product-top">
                <img src="images/page_404.jpg">
            </div>
        </div>
    </div>
    <!--product-end-->
    <!--footer-->
    <% include footer%>
        <!--end of footer-->