<!--information-starts-->
<div class="information">
    <div class="container">
        <div class="infor-top">
            <div class="col-md-3 infor-left">
                <h3>Follow Us</h3>
                <ul>
                    <li>
                        <a href="#">
                            <span class="fb"></span>
                            <h6>Facebook</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="twit"></span>
                            <h6>Twitter</h6>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="google"></span>
                            <h6>Google+</h6>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Information</h3>
                <ul>
                    <li>
                        <a href="#">
                            <p>Specials</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>New Products</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>Our Stores</p>
                        </a>
                    </li>
                    <li>
                        <a href="contact.html">
                            <p>Contact Us</p>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <p>Top Sellers</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>My Account</h3>
                <ul>
                    <li>
                        <a href="profile">
                            <p>My Account</p>
                        </a>
                    </li>
                    <li>
                        <a href="/profile/information">
                            <p>My Personal info</p>
                        </a>
                    </li>
                    <li>
                        <a href="/profile/information">
                            <p>My Addresses</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 infor-left">
                <h3>Store Information</h3>
                <h4>
                    <pan>Address: </span> 00 Nelson Rd, Greenwich, London SE10 9JB, UK.
                </h4>
                <h5>
                    <pan>Phone: </span>+44 20 1234 5678
                </h5>
                <p>
                    <a href="#">
                        <pan>Email: </span> email@menwatch.com
                    </a>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--information-end-->
<!--footer-starts-->
<div class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="col-md-6 footer-left">
                <!-- <form>
                    <input type="text" value="Enter Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Your Email';}">
                    <input type="submit" value="Subscribe">
                </form> -->
            </div>
            <div class="col-md-6 footer-right">
                <p>© 2017 Men Watches. All Rights Reserved | Design by
                    <a href="http://w3layouts.com/" target="_blank">W3layouts</a>
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--footer-end-->
<script type="text/javascript" src="js/utils.menwatch.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/memenu.js"></script>
<script type="text/javascript" src="js/jquery.easydropdown.js"></script>
<!-- <script>
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script> -->
</body>

</html>