<!--header-->
<% include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="">Register</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--register-starts-->
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<%if (message.length > 0 ){%>
					<div class="alert alert-danger">
						<h4>
							<%= message%>
						</h4>
					</div>
					<%}%>
						<h2>REGISTER</h2>
			</div>
			<form action="/register" method="Post">
				<div class="register-main">
					<div class="col-md-6 account-left">
						<input placeholder="Email address" type="email" name="email" tabindex="1" required> (*)
						<input placeholder="Password" type="password" name="password" id="password" tabindex="2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}"
						 title="Must contain at least one number, one uppercase and special letter, and at least 8 or more characters" required> (*)
						<input placeholder="Retype password" type="password" name="confirm_password" id="confirm_password" tabindex="3" required> (*)
						<p> <h3> (*) required fields </h3></p>
					</div>
					<div class="col-md-6 account-left">
						<input placeholder="First name" minlength="3" maxlength="100" type="text" name="firstname" tabindex="4" required> (*)
						
						<input placeholder="Last name" minlength="3" maxlength="100" type="text" name="lastname" tabindex="5" required>(*)
						<input placeholder="Address" minlength="10" maxlength="250" type="text" name="address" tabindex="6"  required>(*)
						<input placeholder="Phone " type="text" name="phone" tabindex="7" pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}'
						title="+xx(xx)xxxx-xxxx" required>(*)
						<input type="hidden" name="_csrf" value="<%=csrfToken%>">
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input tabindex="8" type="submit" value="Register">
				</div>
			</form>
		</div>
	</div>
	<!--register-end-->

	<!--footer-->
	<% include footer%>
		<!--end of footer-->