<!--header-->
<% include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li>
						<a href="index.html">Home</a>
					</li>
					<li class="active">Register</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--register-starts-->
	<div class="register">
		<div class="container">
			<div class="register-top heading">
				<%if (message.length > 0 ){%>
					<div class="alert alert-danger">
						<h4>
							<%= message%>
						</h4>
					</div>
					<%}%>
						<h2>REGISTER</h2>
			</div>
			<form action="/register" method="Post">
				<div class="register-main">
					<div class="col-md-6 account-left">
						<input placeholder="Email address" type="email" name="email" tabindex="1" required>
						<input placeholder="Password" type="password" name="password" tabindex="2" required>
						<input placeholder="Retype password" type="password" tabindex="3" required>
					</div>
					<div class="col-md-6 account-left">
						<input placeholder="First name" type="text" name="firstname" tabindex="4" required>
						<input placeholder="Last name" type="text" name="lastname" tabindex="5" required>
						<input placeholder="Address" type="text" name="address" tabindex="6" required>
						<input placeholder="Phone" type="text" name="phone" tabindex="7" required>
						<input type="hidden"  name="_csrf"  value="<%=csrfToken%>">
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="address submit">
					<input tabindex="8" type="submit" value="Register">
				</div>
			</form>
		</div>
	</div>
	<!--register-end-->

	<!--footer-->
	<% include footer%>
		<!--end of footer-->