<div class="col-md-3 single-right">
		<div class="w_sidebar">
			<section class="sky-form">
				<h4>Brand</h4>
				<div class="row1 row2">
					<div class="col col-4">
						<label class="checkbox">
							<input type="checkbox" name="checkbox" checked="">
							<i></i>All brand</label>
					</div>
					<div class="col col-4">
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Sonata</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Titan</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Casio</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Omax</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>shree</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Fastrack</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Sports</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Fossil</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Maxima</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Yepme</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Citizen</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Diesel</label>
					</div>
				</div>
			</section>
			<section class="sky-form">
				<h4>Style</h4>
				<div class="row1 scroll-pane">
					<div class="col col-4">
						<label class="checkbox">
							<input type="checkbox" name="checkbox" checked="">
							<i></i>All Style</label>
					</div>
					<div class="col col-4">
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Women Watches</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Kids Watches</label>
						<label class="checkbox">
							<input type="checkbox" name="checkbox">
							<i></i>Men Watches</label>
					</div>
				</div>
			</section>
		</div>
	</div>