<div class="col-md-3 single-right">
	<div class="w_sidebar">
		<section class="sky-form">
			<h4>Brand</h4>
			<div class="row1">
				<div class="col col-4">
					<label class="radio">
						<input type="radio" name="brand" checked="">
						<i></i>All Brand
					</label>
				</div>
				<div class="col col-4">
					<% brand.forEach((data)=>{%>
						<label class="radio">
							<input type="radio" name="brand">
							<i></i>
							<%=data.brandname%>
						</label>
						<%})%>
				</div>
			</div>
		</section>
		<section class="sky-form">
			<h4>Style</h4>
			<div class="row1 ">
				<div class="col col-4">
					<label class="radio">
						<input type="radio" name="style" checked="">
						<i></i>All Style
					</label>
				</div>
				<div class="col col-4">
					<% style.forEach((data)=>{%>
						<label class="radio">
							<input type="radio" name="style">
							<i></i>
							<%=data.stylename%>
						</label>
						<%})%>
				</div>
			</div>
		</section>
	</div>
</div>