<div class="col-md-3 single-right">
	<div class="w_sidebar">
		<section class="sky-form">
			<h4>Brand</h4>
			<div class="row1">
				<div class="col col-4">
					<label class="radio">
						<input type="radio" name="brand" checked="">
						<i></i>All Brand
					</label>
				</div>
				<div class="col col-4">
					<% brand.forEach((data)=>{%>
						<label class="radio">
							<input type="radio" name="brand">
							<i></i>
							<a href="/brand/<%=data.id%>/1" class="radio" style="text-decoration: none">
								<%=data.brandname%>
							</a>
						</label>
						<%})%>
				</div>
			</div>
		</section>
		<section class="sky-form">
			<h4>Style</h4>
			<div class="row1 ">
				<div class="col col-4">
					<label class="radio">
						<input type="radio" name="style" checked="">
						<i></i>All Style
					</label>
				</div>
				<div class="col col-4">
					<% style.forEach((data)=>{%>
						<label class="radio">
							<input type="radio" name="style">
							<i></i>
							<a href="/style/<%=data.id%>/1" class="radio" style="text-decoration: none">
								<%=data.stylename%>
							</a>
						</label>
						<%})%>
				</div>
			</div>
		</section>
		<section class="sky-form"><h4>Fanpage</h4>
			<div class="row1 ">
				<div class="col col-4">
				<div class="fb-page" data-href="https://www.facebook.com/Menwatch-557495021284561/" data-tabs="timeline" data-width="300" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Menwatch-557495021284561/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Menwatch-557495021284561/">Menwatch</a></blockquote></div>
			</div></div>
			</section>
	</div>
</div>