<!--header-->
<%include header%>
    <!--end of header-->
    <!--start-breadcrumbs-->
    <div class="breadcrumbs">
        <div class="container">
            <div class="breadcrumbs-main">
                <ol class="breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class=""><a href="/profile">Profile</a></li>
                        <li class="">Address</li>
                </ol>
            </div>
        </div>
    </div>
    <!--end-breadcrumbs-->
    <!--account-starts-->
    <div class="account">
        <div class="container">
            <div class="account-top heading">
                <%if (message.length > 0 ){%>
                    <div class="alert alert-info">
                        <h4>
                            <%= message%>
                        </h4>
                    </div>
                    <%}%>
                        <h2>SHIPPING</h2>
            </div>
            <div class="account-main">
                <div class="col-md-6 account-left">
                    <h3>Curent address</h3>
                    <p>Address:
                            <%= customer.address  %>
                        </p>
                        <p>Phone:
                            <%= customer.phone  %>
                                
                        </p>

                </div>
                <div class="col-md-6 account-right account-left">
                    <h3>Edit address</h3>
                    <div class="account-bottom">
                        <form action="/profile/shipping-address" method="POST">
                            <input placeholder="Address" type="text" name="address" id="address" tabindex="1" required>
                            <input placeholder="Phone" type="text" name="phone" id="phone" tabindex="2" 
                            pattern='[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}' title="+xx(xx)xxxx-xxxx" required>
                            <div class="address">
                                <!-- <a class="forgot" href="#">Forgot Your Password?</a> -->
                                <input type="submit" value="Change">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--account-end-->
    <!--footer-->
    <%include footer%>
        <!--end of footer-->