<!--header-->
<%include header%>
	<!--end of header-->
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">Purchase</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--account-starts-->
	<div class="account">
		<div class="container">
			<div class="account-top heading">
			</div>
			<div class="account-main">
				<div class="col-md-8 account-left">
					<div class="account-bottom">
						<img src="images/thank_purchase.jpg" alt="" />
					</div>
				</div>
				<div class="col-md-4 account-right account-left">
					<br>
					<h3>Thank for Your Purchasing</h3>
					<p>Thank you very much for your marvelous help during our recent store business.We are pleased that you have chosen MenWatch for your luxury jewelry. We hope you are enjoying the convenience, quality
						of your new watch. We remind you of the special offer with your new watches in the next purchase order. An email was sent to your email address. Please check it in your inbox or spam.</p>
					<a href="/profile">Tracking my Order &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
					<br>
					<br>
					<br>
					<br>
					<a href="/">Continue to Shopping</a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--account-end-->
	<!--footer-->
	<%include footer%>
		<!--end of footer-->